/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
  width: 100x;
  height: 150px;
  padding: 10px;
}


/* Position the front and back side */
.card-front,
.card-back {
  position: absolute;
  width: 100px;
  height: 150px;
}

/* Style the front side*/
.card-front {
  background-color: rgba(251, 176, 119, 0.921);
  border-radius: 20px;
  border: solid;
}

/* Style the back side */
.card-back {
  width: 100px;
  height: 150px;
  border-radius: 20px;
  border: solid;
}

p {
  font-weight: 500;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}